#nice_assets_box {
  clear: both;
  background: #f5f1e2;
  position: relative;
}
#nice_assets_box #add_nice_asset { float: right; }
#nice_assets_box h3 {
  background: #eae3c5;
  color: #000000;
  padding: 5px 10px;
  font-size: 93%;
}
#nice_assets_box #uploader {
  background: #eae3c5;
  color: #000000;
  padding: 5px 10px;
  font-size: 93%;
}
#nice_assets_box .attachments {
  height: 220px;
  overflow: auto;
}
#nice_assets_box li {
  float: left;
  margin: 10px;
  padding: 10px;
  width: 160px;
  height: 160px;
  background: #ffffff;
  text-align: center;
  position: relative;
  border: 1px solid #cccccc;
  color: #000000;
  line-height: 1.2;
  font-size: 77%;
}
#nice_assets_box li li .wrapper { overflow: hidden; }
#nice_assets_box li img {
  display: block;
  margin: 0 auto;
}
#nice_assets_box li img.delete {
  position: absolute;
  right: -4px;
  top: -6px;
  cursor: pointer;
}
#uploader {
  display: none;
  color: #000000;
  font-size: 85%;
}
#uploader label { margin-right: 0.5em; }
#uploader input { margin-right: 1em; }
#uploader object { position: absolute; }
#uploader #nice_assets_uploaderQueue { width: 100%; }
#uploader .uploadifyQueueItem {
  border-top: 1px solid #cccccc;
  margin-top: 1em;
  padding: 1em 1em 0;
  font-size: 77%;
  clear: both;
}
#uploader .uploadifyQueueItem img {
  float: left;
  margin-right: 1em;
}
#upload_panel #uploader {
  display: block;
  position: relative;
  margin-top: 2em;
}
#upload_panel #uploader .uploadifyQueueItem { font-size: 100%; }
.simplemodal-overlay { background: #000000; }
.simplemodal-container {
  background: #ffffff;
  border: 1px solid #333333;
  padding: 1em;
}
#simplemodal-container a.modalCloseImg {
  background: url(/images/admin/minus.png) no-repeat;
  width: 12px;
  height: 12px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -18px;
  cursor: pointer;
}
#asset_list_wrapper {
  height: 500px;
  overflow: auto;
  position: relative;
  border-bottom: 1px solid #cccccc;
}
#asset_list_wrapper table#asset_list {
  position: relative;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  font-size: 85%;
}
#asset_list_wrapper table#asset_list th { border: 1px solid #cccccc; }
#asset_list_wrapper table#asset_list td { border: 1px solid #cccccc; }
#asset_list_wrapper table#asset_list thead th {
  padding: 0.2em 0.5em;
  min-width: 4em;
  height: 20px;
  line-height: 20px;
  background: #eeeeee;
  color: #777777;
}
#asset_list_wrapper table#asset_list thead th.header { background: #eeeeee url(/images/extensions/nice_assets/bg.gif) right center no-repeat; }
#asset_list_wrapper table#asset_list thead th.header.headerSortDown { background: #d3d3d3 url(/images/extensions/nice_assets/desc.gif) right center no-repeat; }
#asset_list_wrapper table#asset_list thead th.header.headerSortUp { background: #d3d3d3 url(/images/extensions/nice_assets/asc.gif) right center no-repeat; }
#asset_list_wrapper table#asset_list tbody { position: relative; }
#asset_list_wrapper table#asset_list tbody tr:hover td { background: #d8e8cc; }
#asset_list_wrapper table#asset_list tbody td {
  padding: 0.2em 0.5em;
  min-width: 20px;
}
#asset_list_wrapper table#asset_list tbody td .asset { width: 100px; }
#asset_list_wrapper table#asset_list tbody td li { margin-top: 0.5em; }
#asset_list_wrapper table#asset_list tbody td li:first-child { margin-top: 0; }
#asset_list_wrapper table#asset_list tbody td img { margin-right: 0.5em; }
#asset_list_wrapper table#asset_list tbody .asset { text-align: center; }
#asset_list_wrapper table#asset_list tbody td.date { white-space: nowrap; }
#asset_list_wrapper table#asset_list tbody td.actions div {
  white-space: nowrap;
  text-decoration: underline;
  color: #0066cc;
  line-height: 20px;
}
#asset_list_wrapper table#asset_list tbody span.delete {
  background: url(/images/admin/minus.png) center center no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#asset_list_wrapper table#asset_list tbody a.show {
  background: url(/images/extensions/nice_assets/zoom.png) center center no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}
#asset_list_wrapper table#asset_list tbody a img { border: none; }
#popup_pages {
  height: 500px;
  overflow: auto;
}
#popup_pages ul { margin: 0.5em 0 0.5em 0; }
#popup_pages ul li { margin: 0.5em 0; }
#popup_pages .tree {
  margin: 0;
  padding: 0;
}
#popup_pages .tree > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix { display: inline-block; }
.clearfix { display: block; }
li.clearfix { display: list-item; }
.access {
  position: absolute;
  left: -1000em;
}
