body._home .overview .line {
  top: 174px;
}
#content #top_nav ul #search {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
}
#content #top_nav ul #search button {
  position: relative;
  top: -4px;
  left: 5px;
}