#wrapper {
  #wrapper_inner {
    #page {
      #header, #top_nav, #sidebar, .content_context, #footer .nav, #footer .subnav {
        display: none;
      } 
      #content {
        width: auto;
        margin: 0;
        .content_text {
          width: auto;
          margin: 0;
        }
      }
      #footer .subnav li:first-child {
        display: block;
      }
    }
  }
}
