#wrapper {
  border: none;
  width: auto;
  font-family: arial, helvetica, clean, sans-serif;
}
#wrapper * { color: #000000 !important; }
#wrapper a { text-decoration: none !important; }
#wrapper #wrapper_inner #page #header { display: none; }
#wrapper #wrapper_inner #page #top_nav { display: none; }
#wrapper #wrapper_inner #page #sidebar { display: none; }
#wrapper #wrapper_inner #page .content_context { display: none; }
#wrapper #wrapper_inner #page #breadcrumbs { display: none; }
#wrapper #wrapper_inner #page #content {
  width: auto;
  margin: 0;
}
#wrapper #wrapper_inner #page #content .content_text {
  width: auto;
  margin: 0;
}
#wrapper #wrapper_inner #page #content h1.logo {
  position: relative;
  left: 0;
  top: 0;
  border: 2px solid #000000;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
}
#wrapper #wrapper_inner #page #content h1.logo a {
  display: block;
  width: auto;
  height: auto;
}
#wrapper #wrapper_inner #page #content h1 {
  font-weight: bold !important;
  text-transform: none !important;
}
#wrapper #wrapper_inner #page #content h2 {
  font-weight: bold !important;
  text-transform: none !important;
}
#wrapper #wrapper_inner #page #content h3 {
  font-weight: bold !important;
  text-transform: none !important;
}
#wrapper #wrapper_inner #page #content h4 {
  font-weight: bold !important;
  text-transform: none !important;
}
#wrapper #wrapper_inner #page #content h5 {
  font-weight: bold !important;
  text-transform: none !important;
}
#wrapper #wrapper_inner #page #content h6 {
  font-weight: bold !important;
  text-transform: none !important;
}
#wrapper #wrapper_inner #page #content h1 {
  font-size: 146.5% !important;
  text-transform: uppercase !important;
}
#wrapper #wrapper_inner #page #content h2 { font-size: 138.5% !important; }
#wrapper #wrapper_inner #page #content h3 { font-size: 131% !important; }
#wrapper #wrapper_inner #page #content h4 { font-size: 123.1% !important; }
#wrapper #wrapper_inner #page #content h5 { font-size: 116% !important; }
#wrapper #wrapper_inner #page #content h6 { font-size: 108% !important; }
#wrapper #wrapper_inner #footer {
  margin-top: 1em;
  padding-top: 1em;
}
#wrapper #wrapper_inner #footer .nav { display: none; }
#wrapper #wrapper_inner #footer .subnav li { display: none; }
#wrapper #wrapper_inner #footer .subnav li:first-child { display: block; }
.access {
  position: relative;
  left: 0;
}
